body {
   font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: maroon;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    padding: 60px;
}

.btn {
    background: orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

footer {
    background: #eee;
    padding: 10px;
}
.profile-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.07);
  transition: 0.3s ease;
  overflow: hidden;
}
.profile-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.12);
}
.profile-photo {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.profile-card h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.profile-card p {
  margin: 6px 0;
}

.profile-card button {
  background: #b30000;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.profile-card button:hover {
  background: #800000;
}
h2 {
  text-align: center;
  margin-top: 30px;
}

.category-buttons {
  text-align: center;
}

.profile-card h3 {
  text-align: center;
  margin-bottom: 15px;
}
#profiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 40px;
}
#searchInput {
  display: block;
  margin: 0 auto 25px auto;
  padding: 10px;
  width: 350px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.category-buttons button {
  background: #eee;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.category-buttons button:hover {
  background: #d9d9d9;
}

.category-buttons button.active {
  background: maroon;
  color: white;
}
